@use "variables" as *;
@use "mixin";

.section-list {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 50dvh;
}

.section-list__container {
  @include mixin.section-container();
}

.section-list__form-container-title {
  @include mixin.section-container-title();
}

.section-list__table {
  width: min(90vw, 1100px);
  overflow-x: auto;
  background-color: $table-background-color;
  font-size: 14px;
  box-shadow: 4px 4px 8px $black-shadow-color;
  border-collapse: collapse;
}
.section-list__table-header {
  background-color: $table-header-background-color;
}

.section-list__table td {
  padding: 10px;
  width: 150px;
  text-align: center;
}

.section-list__table-td-button {
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

.section-list__table-td-button__delivered {
  background-color: $button-delivered-background-color;
  color: $button-delivered-text-color;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 490px) {
  .section-list__table {
    font-size: 10px;
    width: min(88vw, 950px);
  }
}
