@use "mixin";
@use "variables" as *;

.section-form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 60dvh;
}

.section-form-container {
  @include mixin.section-container();
}

.section-form__container-title {
  @include mixin.section-container-title();
}

.section-form__form {
  @include mixin.flex-column();
  gap: 10px;
  align-items: center;
  input {
    display: block;
    padding: 10px;
    border: 1px solid $form-border-color;
    border-radius: 5px;
    width: 45%;
  }
}

.section-form__select-form {
  font-size: 12px;
  color: $dark-blue-color;
  border: 1px solid $form-border-color;
  height: 4.7vh;
  width: 46%;
  border-radius: 5px;
}

.section-form__select-button,
.section-form__select-button_clicked {
  font-size: 12px;

  color: $dark-blue-color;
  font-weight: bold;
  border: 1px solid $form-border-color;
  width: 20vw;
  height: 4.7vh;
  border-radius: 5px;
}

.section-form__select-button {
  background-color: $section-banner__container-1-color;
  color: $dark-blue-color;
}

.section-form__select-button_clicked {
  background-color: $green-color;
  color: $black-shadow-color;
  scale: 1.2;
}

@media (max-width: 768px) {
  .section-form__form {
    input {
      width: 60vw;
    }
  }

  .section-form__select-form {
    color: $form-placeholder-text-color;
    width: 66vw;

    & option {
      font-size: 40px;
    }
  }

  .section-form__select-button {
    width: 50vw;
  }
}
