$header-background: #f8f9fa;
$language-background-color: #6ac6de;
$white-color: white;
$red-color: red;
$dark-blue-color: #091e3fff;
$boat-fist-background-gradient: #bb9c69ff;
$boat-second-background-gradient: #ee810dff;
$boat-border-color: #8b390979;
$boat-box-shadow-color: #a5dfe9e6;
$banner-blue-color: #281407ff;
$black-shadow-color: #00000066;
$cockpit-color: #824a0aff;
$form-first-background-gradient: #a9c4dfff;
$form-second-background-gradient: #e1f4e2ff;
$table-background-color: #f4f4f4ff;
$table-header-background-color: #d0d4c4ff;
$form-border-color: #ccc;
$form-placeholder-text-color: #979696;
$footer-color: #dce0e6ff;
$footer-background-color: #041a30ff;
$green-color: #28a745ff;
$button-delivered-background-color: #28a745ff;
$button-delivered-text-color: white;

$section-banner__container-1-color: #6ac6de;
$section-banner__container-2-color: #6e6adeff;
$section-banner__container-3-color: #70de6aff;
$section-banner__container-4-color: #de766aff;
$section-banner__container-5-color: #98a2a4ff;
