@use "mixin";
@use "variables" as *;

header {
  @include mixin.flex-column();
  background-color: $header-background;
  margin-bottom: 20px;
  text-align: center;
  width: 100vw;
  font-size: 22px;
  p {
    margin: 0;
    padding: 0;
    font-size: 21px;
  }
}

.header-logo__container {
  @include mixin.flex-row-center-space-evenly();
  width: 100%;
  gap: 20px;

  img {
    margin-right: auto;
    width: 25%;
    height: 130px;
  }
}

.header-select {
  display: flex;
  font-size: 12px;
  background-color: $language-background-color;
  color: $white-color;
  font-weight: bold;
  border-color: $dark-blue-color;
  width: 200px;
  height: 25px;
  margin-right: 50px;
  border-radius: 5px;
}

.header-phone-1,
.header-phone-2 {
  @include mixin.flex-row-center();
  gap: 10px;
  font-size: 12px;
}

.header-nav-container {
  @include mixin.flex-row();
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  // padding: 5px 0px 5px 10px;
  // gap: 15px;
  background-color: $dark-blue-color;

  a {
    margin: 0;
    padding: 0;
    color: $white-color;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
  }
}

@media (max-width: 490px) {
  .header-logo {
    width: 150px !important;
    height: 50px !important;
  }

  .header-select {
    font-size: 8px;
    height: 20px;
    margin-right: 10px;
  }

  .header-phone-1,
  .header-phone-2 {
    @include mixin.flex-column-center();
    font-size: 8px;
    width: 25%;
    p {
      font-size: 7px;
    }
  }

  .header-nav-container {
    justify-content: center;
    gap: 10px;
    a {
      font-size: 8px;
    }
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .header-logo {
    width: 40% !important;
    height: 40% !important;
  }
  .header-select {
    font-size: 8px;
    height: 20px;
    margin-right: 10px;
  }

  .header-phone-1,
  .header-phone-2 {
    @include mixin.flex-column-center();
    font-size: 8px;
    width: 25%;
    p {
      font-size: 12px;
    }
  }

  .header-nav-container {
    padding: 5px 0 5px 10px;
    gap: 5px;
    background-color: $dark-blue-color;
    a {
      font-size: 10px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-logo {
    width: 40% !important;
    height: 40% !important;
  }
  .header-select {
    font-size: 8px;
    height: 20px;
    margin-right: 10px;
  }

  .header-phone-1,
  .header-phone-2 {
    @include mixin.flex-column-center();
    font-size: 8px;
    width: 25%;
    p {
      font-size: 17px;
    }
  }

  .header-nav-container {
    padding: 5px 0 5px 10px;
    gap: 5px;
    background-color: $dark-blue-color;
    a {
      font-size: 10px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .header-logo {
    width: 40%;
    height: auto;
  }
  .header-select {
    font-size: 8px;
    height: 20px;
    margin-right: 10px;
  }

  .header-phone-1,
  .header-phone-2 {
    @include mixin.flex-column-center();
    font-size: 18px;
    width: 25%;
    p {
      font-size: 20px;
    }
  }

  .header-nav-container {
    padding: 5px 0 5px 10px;
    gap: 5px;
    background-color: $dark-blue-color;
    a {
      font-size: 10px;
    }
  }
}
