body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  text-align: center;
  width: 100vw;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.logo-container img {
  margin-right: auto;
}

#language {
  font-size: 12px;
  background-color: #6ac6de;
  color: #091e3f;
  font-weight: bold;
  border-color: white;
  height: 25px;
  border-radius: 5px;
}

.phone-1,
.phone-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
}

.header-nav-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 10px;
  gap: 15px;
  background-color: #091e3f;
}

.header-nav-container a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
}

.section-banner__red-line {
  width: 100%;
  height: 25px;
  background-color: red;
}

.background {
  position: relative;
  width: 100%;
  height: 45dvh;
  background-color: #091e3fff;
}

.boat-container,
.boat-container-general {
  position: relative;
  background: linear-gradient(135deg, #bb9c69ff, #ee810dff);
  border-bottom-right-radius: 40px;
  border: 3px solid;
  border-top-color: #8b390979;
  border-bottom-color: #8b390979;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 4px 3px 9px #a5dfe9e6;
}

.boat-container {
  top: 5dvh;
  left: 1vw;
  width: 50vw;
  height: 15dvh;
}

.banner-title,
.banner-subtitle {
  position: absolute;
  margin: 0;
  letter-spacing: 5px;
  color: #281407ff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  line-height: 1;
}

.banner-title {
  top: 1dvh;
  left: 6vw;
  font-size: 50px;
}

.banner-subtitle {
  top: 8dvh;
  left: 5vw;
  font-size: 40px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
  position: absolute;
  height: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #00000066;
}

.container-1 {
  top: 3.4dvw;
  left: 20vw;
  width: 60px;
  background-color: #6ac6de;
}

.container-2 {
  top: 3.4dvw;
  left: 32vw;
  width: 60px;
  background-color: #6e6adeff;
}
.container-3 {
  top: 5.5dvw;
  left: 33vw;
  width: 45px;
  background-color: #70de6aff;
}
.container-4 {
  top: 8.5dvw;
  left: 36vw;
  width: 60px;
  background-color: #de766aff;
}

.container-5 {
  top: 5.5dvw;
  left: 20vw;
  width: 70px;
  background-color: #98a2a4ff;
}

.cockpit-floor,
.cockpit-roof,
.cockpit-floor-general,
.cockpit-roof-general {
  position: absolute;
  border-radius: 5px;
  box-shadow: 4px 0 0 6px #00000066;
  transform: rotate(90deg);
  background-color: #824a0aff;
}

.cockpit-floor {
  height: 20px;
  top: 8dvw;
  left: -7.9vw;
  width: 18vw;
}

.cockpit-roof {
  height: 20px;
  top: 8dvw;
  left: -6vw;
  width: 12vw;
}

.mask-container {
  position: absolute;
  top: 23dvh;
  left: 20vw;
  /* 1. Set the background image */
  background-image: url("assets/containers.jpg");
  background-size: cover; /* Optional: ensures image covers the text area */
  background-repeat: no-repeat; /* Optional: prevents tiling */

  /* Set text properties */
  font-size: 15vw; /* Large, responsive text size */
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;

  /* Hide the actual color of the text */
  color: transparent;

  /* 2. Apply the background as the mask source */
  /* -webkit- is essential for broad browser compatibility for this feature */
  -webkit-background-clip: text;
  background-clip: text; /* Standard property */
}

.form-container {
  display: flex;
  position: relative;
  margin-top: 20px;
  background: linear-gradient(90deg, #a9c4dfff, #e1f4e2ff);
  height: 8dvh;
  margin-bottom: 20px;
  align-items: center;
}

.section-title {
  margin: 0;
  margin-left: 20px;
  color: #091e3f;
  font-size: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form input {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80vw;
}

.select-form {
  font-size: 12px;
  color: #091e3f;
  border: 1px solid #ccc;
  height: 4.7vh;
  width: 84vw;
  border-radius: 5px;
}

.form button {
  font-size: 12px;
  background-color: #6ac6de;
  color: #091e3f;
  font-weight: bold;
  border: 1px solid #ccc;
  width: 20vw;
  height: 4.7vh;
  border-radius: 5px;
}

.boat-container-general {
  margin-top: 5dvh;
  width: 30vw;
  height: 9dvh;
  margin-left: 10vw;
}

.cockpit-floor-general {
  height: 30px;
  top: 2.8dvh;
  left: -7.3vw;
  width: 16vw;
}

.cockpit-roof-general {
  height: 20px;
  top: 3dvh;
  left: -5vw;
  width: 10vw;
}

.subtitle-guias {
  margin-left: 10vw;
  margin-top: 2dvh;
  font-size: 18px;
  font-weight: bold;
  color: #091e3f;
}

.chart-general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-1,
.bar-2 {
  position: relative;
  height: 4dvh;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #00000066;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-1 {
  width: 40vw;
  background-color: #6e6adeff;
}
.bar-2 {
  width: 55vw;
  background-color: #70de6aff;
}

.table {
  margin: 20px 10vw;
  overflow-x: auto;
  background-color: #f4f4f4ff;
  font-size: 14px;
  box-shadow: 4px 4px 8px #00000066;
}
.table-header {
  background-color: #d0d4c4ff;
}

.table td {
  width: 150px;
  text-align: center;
}

footer {
  margin-top: 20px;
  background-color: #041a30ff;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: #dce0e6ff;
  height: 40px;
  width: 100%;
}
